@model SwiftDev.Models.SystemDesignModel
           

@{
    ViewBag.Title = "System Designs";
}

<h2>@ViewBag.Title</h2>

<!--    This class will show all the Concerning System Designs with 
        the option of uploading a new design (providing User has sufficient rights)-->
@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);
    
    <div> Select Image to upload a DFD
        <input name="dfd" type="file" multiple="multiple">
    <input type="submit" value="Upload Image" />
    </div>
    
}

@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "dfd" });
}
<hr />


<!---------------------------------------->
@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div>
        Select Image to upload a ClassDiagram
        <input name="classdiagram" type="file" multiple="multiple">
        <input type="submit" value="Upload Image" />
    </div>

}

<!-- Class Diagarm Show Files-->
@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "classdiagram" });
}
<hr />

<!---------------------------------------->
@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div>
        Select Image to upload an Object Diagram
        <input name="objectdiagram" type="file" multiple="multiple">
        <input type="submit" value="Upload Image" />
    </div>

}

<!-- Object Diagarm Show Files-->
@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "objectdiagram" });
}

<hr />
<!---------------------------------------->
@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div>
        Select Image to upload a Component
        <input name="componentdiagram" type="file" multiple="multiple">
        <input type="submit" value="Upload Image" />
    </div>

}

<!-- Component Diagarm Show Files-->
@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "componentdiagram" });
}

<hr />
<!---------------------------------------->
@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div>
        Select Image to upload an Deployment Diagram
        <input name="deploymentdiagram" type="file" multiple="multiple">
        <input type="submit" value="Upload Image" />
    </div>

}


<!-- Deployment Diagarm Show Files-->
@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "deploymentdiagram" });
}

<hr />
<!---------------------------------------->
@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div>
        Select Image to upload a Use Case
        <input name="usecasediagram" type="file" multiple="multiple">
        <input type="submit" value="Upload Image" />
    </div>

}

<!-- Use Case Diagarm Show Files-->
@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "usecasediagram" });
}

<hr />
<!---------------------------------------->
@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div>
        Select Image to upload an Sequence Diagram
        <input name="sequencediagram" type="file" multiple="multiple">
        <input type="submit" value="Upload Image" />
    </div>

}


<!-- Sequence Diagarm Show Files-->
@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "sequencediagram" });
}
<hr />

<!---------------------------------------->

@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div>
        Select Image to upload an Collaboration Diagram
        <input name="collaborationdiagram" type="file" multiple="multiple">
        <input type="submit" value="Upload Image" />
    </div>

}

<!-- Collaboration Diagarm Show Files-->
@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "collaborationdiagram" });
}
<hr />

<!---------------------------------------->
@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div>
        Select Image to upload a State Diagram
        <input name="statediagram" type="file" multiple="multiple">
        <input type="submit" value="Upload Image" />
    </div>

}

<!-- stateDiagram show files-->
@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "statediagram" });
}
<hr />

<!---------------------------------------->
@using (Html.BeginForm("ImageUpload", "SystemDesign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div>
        Select Image to upload a Activity Diagram
        <input name="activitydiagram" type="file" multiple="multiple">
        <input type="submit" value="Upload Image" />
    </div>

}
<!-- Activity Diagarm Show Files-->
@{
    Html.RenderAction("_showBlobs", "SystemDesign", new { containerName = "activitydiagram" });
}
<hr />





<br/>
<br />
<br />
