
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SwiftDev</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="icon" href="@Url.Content("~/Content/images/thumbnail.ico")" />
    <script type="text/javascript" src="~/Scripts/dateTime.js"></script>

</head>
<body onload="startTime()">

    <!-- Logged in User + Date / Time-->


    <div class="navbar navbar-inverse navbar-fixed-top" id="header">
        <div class="container">
            <div id="calendar"><i class="fa fa-calendar fa-3x"></i></div>
            <div id="showDate"></div>
        </div>
    </div>


    <div class="navbar navbar-inverse" id="navbar-links">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")"><img src="~/Content/images/logolink.png" /> </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Requirements", "Index", "RequirementsEngineering")</li>
                    <li>@Html.ActionLink("System Design", "Index", "SystemDesign")</li>


                    @*@if (Request.IsAuthenticated && ((User.IsInRole("Admin")) || (User.IsInRole("SuperUser")))) *@
                   @* { *@
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Projects", "ProjectIndex", "Project")</li>
                  @*  } *@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
